node_modules/
# readme.md
# README.md
# *.md
16-haunted-house/
threejs_resources/


# dependencies
/node_modules
/package-lock.json
/dist

*/node_modules
**/.DS_Store
**/*.DS_Store
*/.DS_Store
*/*.DS_Store

*/package-lock.json

~/node_modules
~/package-lock.json
~/dist

*.DS_Store
.DS_Store
