node_modules/
# readme.md
# README.md
# *.md
16-haunted-house/

# dependencies
/node_modules
/package-lock.json
/dist

*/node_modules
*/package-lock.json

~/node_modules
~/package-lock.json
~/dist

.DS_Store
